.ApareBtnConf {
  font-size: 1.5em;
  background: #f90;
  border: 0;
  margin-bottom: 1em;
  color: #fff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background: #fb0;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
  position: absolute;
  top: 300;
  left: 30%;
  margin: 150px 0 0 175px;
}

.campoN {
  padding: 0.2em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 300;
  left: 40%;
  margin: -25px 0 0 0px;
}
.campoE {
  padding: 0.2em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 350;
  left: 40%;
  margin: 0px 0 0 0px;
}
.campoT {
  padding: 0.2em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 400;
  left: 40%;
  margin: 25px 0 0 0px;
}
.campoC {
  padding: 0.2em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 450;
  left: 40%;
  margin: 50px 0 0 0px;
  line-height: 6;
  max-width: 100%;
}

.ApareBtnDel {
  font-size: 1.5em;
  background: rgb(255, 30, 0);
  border: 0;
  margin-bottom: 1em;
  color: #0e0303;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background: rgb(255, 255, 255);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
  position: absolute;
  top: 300;
  left: 30%;
  margin: 150px 0 0 275px;
}

.textformN {
  position: absolute;
  top: 300;
  left: 30%;
  margin: -25px 0 0 90px;
}
.textformE {
  position: absolute;
  top: 350;
  left: 30%;
  margin: 0px 0 0 87px;
}
.textformT {
  position: absolute;
  top: 400;
  left: 30%;
  margin: 25px 0 0 78px;
}
.textformC {
  position: absolute;
  top: 450;
  left: 30%;
  margin: 50px 0 0 23px;
}
.footer {
  background-color: #380c27;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 300px;
}
.mensagem {
  display: none; /* Esconde a mensagem inicialmente */
  color: green; /* Cor da mensagem */
  font-weight: bold; /* Negrito */
}
